.assortment {
  width: 100%;

  font-family: 'Arsenal', sans-serif;
}

.assortment__title {
  margin-bottom: 65px;

  font-weight: bold;
}

.assortment__grid {
  display: grid;
  justify-content: center;

  margin: 0 auto 45px;

  grid-gap: 45px 50px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5, 1fr);
}

.assortment__grid-item {
  position: relative;

  display: flex;

  transition: filter 200ms;
}

.assortment__grid-item:hover {
  filter: brightness(96%);
}

.assortment__grid-item {
  min-height: 305px;

  grid-column: span 2;
}

.assortment__grid-item:nth-child(1),
.assortment__grid-item:nth-child(6n + 5),
.assortment__grid-item:nth-child(6n + 7) {
  grid-column: span 3;
  grid-row: span 2;
}

.assortment__image-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100%;

  background-color: #aaa;
}

.assortment__image {
  width: 100%;
  height: 100%;

  background-color: white;

  object-fit: cover;
  object-position: center;
}

.assortment__type {
  position: absolute;
  top: 37px;
  left: 45px;

  letter-spacing: 1px;

  color: #2d2829;

  font-size: 24px;
  font-weight: 500;
}

.assortment__count-of-type {
  position: absolute;
  top: 67px;
  left: 45px;

  letter-spacing: 0.5px;

  color: #666363;

  font-size: 20px;
  font-weight: 300;
}

.assortment__more-button {
  position: absolute;
  right: 65px;
  bottom: 35px;

  display: inline-flex;
  align-items: center;

  padding: 0;

  text-transform: capitalize;

  font-size: 20px;
}

.assortment__more-button:hover {
  text-decoration: none;

  color: var(--primary-color);
}

.assortment__more-button:focus {
  text-decoration: none;

  color: var(--primary-color);
}

.assortment__more-button:hover > .assortment__more-icon {
  margin-left: 5px;

  color: var(--primary-color);
}

.assortment__more-button:focus > .assortment__more-icon {
  margin-left: 5px;

  color: var(--primary-color);
}

.assortment__more-icon {
  margin-left: 15px;

  transition: margin-left 500ms;

  color: #666363;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .assortment {
    padding: 0 20px;
  }

  .assortment__title {
    margin-bottom: 40px;
  }

  .assortment__grid {
    margin-bottom: 25px;

    grid-gap: 25px;
  }

  .assortment__grid-item {
    min-height: 180px;
  }

  .assortment__type {
    top: 20px;
    left: 25px;

    font-size: 14px;
  }

  .assortment__count-of-type {
    top: 38px;
    left: 25px;

    font-size: 12px;
  }

  .assortment__more-button {
    bottom: 20px;

    text-transform: capitalize;

    font-size: 12px;
  }

  .assortment__more-icon {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .assortment {
    padding: 30px 20px 20px;
  }

  .assortment__title {
    margin-bottom: 35px;

    text-align: center;
  }

  .assortment__type {
    top: 10px;
    left: 12px;

    font-size: 14px;
  }

  .assortment__count-of-type {
    top: 29px;
    left: 12px;

    font-size: 12px;
  }

  .assortment__more-button {
    display: none;
  }

  .assortment__grid {
    margin: 0 auto;

    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  .assortment__grid-item {
    min-height: 120px;
    max-height: 120px;

    grid-column: span 1;
  }

  .assortment__grid-item:nth-child(1),
  .assortment__grid-item:nth-child(6n + 5),
  .assortment__grid-item:nth-child(6n + 7) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .assortment__image-wrapper {
    overflow: hidden;

    width: 100%;
  }

  .assortment__image {
    transform: scale(1.8);

    object-position: center 15px;
    object-fit: contain;
  }
}
