.benefit {
  display: flex;
  align-items: center;
}

.benefit__icon {
  margin-right: 10px;
  margin-bottom: 10px;

  color: var(--primary-color);

  font-size: 58px;
}

.benefit__text {
  max-width: 150px;

  font-size: 14px;
  line-height: 20px;
}
