.choose-cake {
  width: 100%;
  padding-bottom: 237px;

  color: #2e2829;

  font-family: 'Arsenal', sans-serif;
}

.choose-cake__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding-top: 92px;
}

.choose-cake__header {
  width: 100%;
  max-width: 377px;
  margin-bottom: 20px;

  letter-spacing: 6px;

  font-size: 77px;
  font-weight: bold;
  line-height: 93%;
}

.choose-cake__subheader {
  margin-bottom: 60px;

  font-size: 48px;
}

.choose-cake__benefits {
  display: flex;
}

.choose-cake__button {
  margin-bottom: 125px;
  padding: 1.2em 4.45em;

  text-decoration: none;

  border-radius: 25px;

  font-size: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .choose-cake {
    min-height: auto;
    margin-bottom: 135px;
    padding-top: 102px;
    padding-bottom: 0;

    background-position: revert;
  }

  .choose-cake__header {
    width: 290px;

    letter-spacing: 4px;

    font-size: 60px;
  }

  .choose-cake__subheader {
    margin-bottom: 55px;

    font-size: 42px;
  }

  .choose-cake__wrapper {
    padding-top: 0;
  }

  .choose-cake__button {
    margin-bottom: 145px;
    padding: 18px 66px;

    border-radius: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .choose-cake {
    margin-bottom: 17px;
    padding-bottom: 0;
  }

  .choose-cake__wrapper {
    align-items: center;

    padding-top: 125px;
  }

  .choose-cake__header {
    max-width: 185px;
    margin-bottom: 17px;

    text-align: center;
    letter-spacing: 2px;

    font-size: 41px;
  }

  .choose-cake__subheader {
    margin-bottom: 20px;

    font-size: 26px;
  }

  .choose-cake__button {
    order: 1;

    margin-bottom: 0;
  }

  .choose-cake__benefits {
    flex-direction: column;

    width: 100%;
    margin-bottom: 35px;
  }

  .choose-cake__benefits-item {
    max-width: 100%;
  }

  .choose-cake__benefits-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
