.choose-cake {
  position: relative;

  overflow: hidden;

  width: 100%;
  min-height: 968px;
  margin-bottom: -88px;
  padding-top: 126px;

  color: #2e2829;

  font-family: 'Arsenal', sans-serif;
}

.choose-cake::before {
  position: absolute;
  top: 0;

  width: 1603px;
  height: 968px;

  content: '';

  background-image: url('../images/cake.png'), url('../images/sliced-strawberry.png'), url('../images/strawberry.png'),
    url('../images/raspberry.png');
  background-repeat: no-repeat;
  background-position: top -23px right -35px, top 42px right 852px, top 374px right 974px, top 208px right 909px;
  background-size: 968px, 111px, 200px, 114px;
}

.choose-cake__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.choose-cake__header {
  width: 100%;
  max-width: 377px;
  margin-bottom: 20px;

  letter-spacing: 6px;

  font-size: 77px;
  font-weight: bold;
  line-height: 93%;
}

.choose-cake__subheader {
  margin-bottom: 60px;

  font-size: 48px;
}

.choose-cake__benefits {
  display: flex;
}

.choose-cake__button {
  margin-bottom: 125px;
  padding: 1.2em 4.45em;

  text-decoration: none;

  border-radius: 25px;

  font-size: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .choose-cake {
    height: auto;
    min-height: auto;
    margin-bottom: 135px;
    padding-top: 102px;
    padding-bottom: 0;

    background-color: transparent;
  }

  .choose-cake::before {
    content: none;
  }

  .choose-cake__header {
    width: 290px;

    letter-spacing: 4px;

    font-size: 60px;
  }

  .choose-cake__subheader {
    margin-bottom: 55px;

    font-size: 42px;
  }

  .choose-cake__wrapper {
    padding-top: 0;
  }

  .choose-cake__button {
    margin-bottom: 145px;
    padding: 18px 66px;

    border-radius: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .choose-cake {
    min-height: auto;
    margin-bottom: 17px;
    padding-top: 0;
    padding-bottom: 0;

    background-image: url('../images/cake.png');
    background-repeat: no-repeat;
    background-position: center -164px;
    background-size: 337px;
  }

  .choose-cake::before {
    content: none;

    /* background image attached to the .main */
  }

  .choose-cake__wrapper {
    align-items: center;

    padding-top: 125px;
  }

  .choose-cake__header {
    max-width: 185px;
    margin-bottom: 17px;

    text-align: center;
    letter-spacing: 2px;

    font-size: 41px;
  }

  .choose-cake__subheader {
    margin-bottom: 20px;

    font-size: 26px;
  }

  .choose-cake__button {
    order: 1;

    margin-bottom: 0;
  }

  .choose-cake__benefits {
    flex-direction: column;

    width: 100%;
    max-width: 275px;
    margin-bottom: 35px;
    padding-right: 45px;
  }

  .choose-cake__benefits-item {
    max-width: 100%;
  }

  .choose-cake__benefits-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
