.button {
  padding: 1em 3em;

  transition: all 250ms;
  text-transform: uppercase;

  color: white;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);

  font-family: 'Arsenal', sans-serif;
  font-size: 13px;
}

.button:hover {
  background-color: #cc033f;
  box-shadow: 0 8px 6px -6px gray;
}

.button:focus,
.button:active {
  outline: none;
  background-color: #cc033f;
  box-shadow: 0 8px 6px -6px black;
}

.button-link {
  padding: 1em 3em;

  cursor: pointer;
  transition: 250ms;
  text-transform: uppercase;

  color: black;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: transparent;

  font-family: 'Arsenal', sans-serif;
  font-size: 13px;
}

.text_dark {
  color: #32313d;
}

.text_handwritten {
  font-family: 'Caveat', sans-serif;
  font-weight: 300;
}

.text_typography {
  font-family: 'Playfair Display', serif;
}

.container {
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding-right: 75px;
  padding-left: 75px;

  scroll-margin-top: 70px;
}

.section-title {
  font-size: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .section {
    padding-right: 50px;
    padding-left: 50px;
  }

  .section-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 767px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-title {
    font-size: 24px;
  }
}
