.contacts {
  min-height: 847px;
  padding-top: 80px;
  padding-bottom: 70px;

  background-color: var(--primary-background);
  background-image: url('../images/desktop/strawberries.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: contain;

  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
}

.contacts__header {
  margin-bottom: 30px;

  font-weight: bold;
}

.contacts__subheader {
  margin-bottom: 20px;

  font-size: 35px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__social-network-button {
  margin-right: 30px;
  padding: 17px;

  text-decoration: none;

  border-radius: 50%;
  background-color: white;

  appearance: button;
}

.contacts__social-network-button:last-of-type {
  margin-right: 0;
}

.contacts__social-network-button-icon {
  color: var(--primary-color);

  font-size: 28px;
}

.contacts__wrapper {
  display: flex;
}

.contacts__feedback {
  flex-grow: 4;

  margin-right: 85px;
}

.contacts__network {
  flex-grow: 16;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__form-input,
.contacts__form-textarea {
  margin-bottom: 20px;
  padding: 20px 0 3px 0;

  border: none;
  border-bottom: 1px solid #c9bab9;
  outline: none;
  background-color: transparent;

  font-family: 'Arsenal', sans-serif;
  font-size: 14px;
}

.contacts__form-input::placeholder,
.contacts__form-textarea::placeholder {
  color: #c9bab9;
}

.contacts__form-textarea {
  height: 42px;
  margin-bottom: 79px;

  resize: none;
}

.contacts__form-submit {
  align-self: flex-start;

  padding: 14px 47px;

  text-transform: capitalize;

  border-radius: 25px;

  font-size: 19px;
}

.contacts__link {
  text-decoration: none;

  color: currentColor;
}

.contacts__phone {
  display: block;
}

.contacts__link:hover,
.contacts__phone:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 1365px) {
  .contacts {
    min-height: auto;
    padding-top: 45px;
    padding-bottom: 80px;

    font-size: 14px;
  }

  .contacts__wrapper {
    flex-wrap: wrap;
  }

  .contacts__form {
    min-width: 330px;
  }

  .contacts__header {
    margin-bottom: 10px;
  }

  .contacts__subheader {
    margin-bottom: 15px;

    font-size: 25px;
  }

  .contacts__text {
    margin-bottom: 20px;

    font-size: 14px;
  }

  .contacts__feedback {
    margin-right: 65px;
  }

  .contacts__feedback-text {
    max-width: 250px;
    margin-bottom: 15px;
  }

  .contacts__form-input,
  .contacts__form-textarea {
    margin-bottom: 10px;
    padding: 15px 10px;

    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;

    font-family: 'Arsenal', sans-serif;
    font-size: 14px;
  }

  .contacts__form-input::placeholder,
  .contacts__form-textarea::placeholder {
    color: #cccccc;
  }

  .contacts__form-textarea {
    min-height: 120px;
    margin-bottom: 30px;

    resize: none;
  }

  .contacts__social-network-text {
    margin-bottom: 25px;
  }

  .contacts__social-network-button {
    margin-right: 27px;
    padding: 16px;
  }

  .contacts__social-network-button:last-of-type {
    margin-right: 0px;
  }

  .contacts__social-network-button-icon {
    font-size: 32px;
  }

  .contacts__form-submit {
    margin-bottom: 30px;
    padding: 13px 48px;

    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .contacts {
    min-height: auto;
    padding: 37px 20px 48px;

    background-image: none;
  }

  .contacts__form-submit {
    margin: 0 auto 30px;
  }

  .contacts__wrapper {
    display: block;
  }

  .contacts__header {
    margin-bottom: 10px;

    text-align: center;
  }

  .contacts__subheader {
    margin-bottom: 7px;

    font-size: 25px;
  }

  .contacts__form {
    min-width: auto;
  }

  .contacts__form-submit {
    padding: 13px 44px;

    font-size: 20px;
  }

  .contacts__text {
    margin-bottom: 10px;

    font-size: 15px;
  }

  .contacts__network-text {
    margin-bottom: 18px;
  }

  .contacts__social-network-text {
    margin-bottom: 14px;
  }

  .contacts__feedback {
    margin-right: 0;
  }

  .contacts__form-textarea {
    margin-bottom: 20px;
  }

  /* .contacts__network > .contacts__text {
    margin-bottom: 25px;
  } */
}
