.footer {
  padding: 30px 75px 15px;

  text-align: center;

  background-color: var(--footer-background);
}

.footer__content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.footer__navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;

  background-color: var(--footer-background);
}

.footer__navigation-item {
  margin-left: 50px;
}

.footer__navigation-item:last-of-type {
  display: none;
}

.footer__divider {
  width: 100%;
  height: 0;
  margin-top: 40px;
  margin-bottom: 20px;

  border: 0;
  border-top: 1px solid #a2a1a1;
}

.footer__list {
  display: flex;
  justify-content: center;
}

.footer__logo {
  flex-grow: 1;

  transition: color 200ms;
  text-align: start;
  text-decoration: none;
  letter-spacing: 1px;

  color: inherit;

  font-size: 28px;
  font-weight: bold;
}

.footer__logo:hover {
  color: var(--primary-color);
}

.footer__logo:focus {
  color: var(--primary-color);
  outline: none;
}

.footer__link {
  text-transform: none;

  font-size: 16px;
}

.footer__social-network {
  flex-grow: 1;

  margin-top: 15px;

  text-align: end;
}

.footer__social-network-button {
  transition: color 200ms;
  text-decoration: none;

  color: #8f8f8f;

  font-size: 25px;

  appearance: button;
}

.footer__social-network-button:first-of-type {
  margin-right: 20px;
}

.footer__social-network-button:hover,
.footer__social-network-button:focus {
  color: var(--primary-color);
  outline: none;
}

.footer__copyright {
  flex-basis: 100%;

  color: #8f8f8f;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

@media only screen and (max-width: 1365px) {
  .footer {
    padding: 34px 20px 10px 20px;

    color: white;
  }

  .footer__navigation {
    justify-content: flex-end;
  }

  .footer__social-network {
    order: 4;
  }

  .footer__copyright {
    flex-basis: auto;
    flex-grow: 1;

    width: 14%;
    margin-right: 33px;
    padding: 0;

    text-align: end;

    color: #b6b6b6;

    font-size: 13px;
  }

  .footer__link {
    color: white;

    font-size: 14px;
  }

  .footer__logo {
    font-size: 18px;
  }

  .footer__logo:hover,
  .footer__logo:focus {
    color: rgb(209, 209, 209);
  }

  .footer__link:hover,
  .footer__link:focus {
    color: rgb(209, 209, 209);
  }

  .footer__link:hover {
    color: whitesmoke;
  }

  .footer__social-network {
    margin-top: 0;
  }

  .footer__social-network-button {
    margin-right: 20px;

    color: #b6b6b6;

    font-size: 23px;
  }

  .footer__social-network-button:hover,
  .footer__social-network-button:focus {
    color: white;
  }

  .footer__divider {
    margin: 37px 50px 13px 50px;
  }

  .footer__social-network {
    text-align: start;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 10px;
  }

  .footer__content {
    align-items: flex-start;
    flex-direction: column;
  }

  .footer__list {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 20px;

    font-size: 28px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__navigation-item {
    margin-bottom: 15px;
    margin-left: 0;
  }

  .footer__social-network-button {
    margin-right: 15px;
  }

  .footer__navigation-item:last-of-type {
    display: block;
  }

  .footer__divider {
    margin: 30px 0 10px;
  }

  .footer__social-network {
    order: unset;

    margin-top: 10px;
  }

  .footer__copyright {
    width: auto;
  }
}
