.header {
  position: sticky;
  z-index: 2;
  top: 0;

  width: 100%;
  margin: 35px 0 0 0;
  padding: 20px 75px;

  text-align: center;

  background-color: var(--primary-background);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navigation,
.header__phone-number {
  margin: 10px 0 0;
}

.header__navigation-toggle-label {
  display: none;
}

.header__navigation-toggle-label:hover,
.header__navigation-toggle-label:focus {
  color: var(--primary-color);
}

.header__navigation-item {
  margin-left: 45px;
}

.header__link {
  letter-spacing: 1.15px;

  opacity: 1;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__phone-number {
  display: block;

  margin-left: auto;

  text-decoration: none;

  color: #2d2829;

  font: bold 15px 'Arsenal', sans-serif;
}

.header__phone-number:hover {
  color: var(--primary-color);
}

.header__phone-number:focus {
  color: var(--primary-color);
  outline: none;
}

.header__logo {
  text-decoration: none;
  letter-spacing: 1px;

  color: inherit;

  font: bold 23px 'Playfair Display', serif;
}

.header__logo:hover {
  color: var(--primary-color);
}

.header__logo:focus {
  color: var(--primary-color);
  outline: none;
}

.header__navigation-toggle {
  display: none;
}

@media only screen and (max-width: 1365px) {
  .header {
    margin: 0;
    padding: 17px 50px;

    background-color: white;
  }

  .header__logo {
    font-size: 20px;
  }

  .header__navigation {
    position: absolute;
    top: 99%;
    left: 0;

    width: 100%;
    margin: 0;

    transform: scale(1, 0);
    transform-origin: top;
  }

  .header__phone-number {
    margin: 0 0 0 auto;
  }

  .header__navigation-item {
    margin-bottom: 1em;
  }

  .header__navigation-toggle-label {
    display: block;

    margin-left: 26px;

    cursor: pointer;
  }

  .header__list {
    display: block;
  }

  .header__link {
    transition: opacity 150ms ease-in-out;

    opacity: 0;
  }

  .header__navigation-toggle:checked ~ .header__navigation {
    transition: transform 350ms ease-in-out;
    transform: scale(1, 1);
  }

  .header__navigation-toggle:checked ~ .header__navigation .header__link {
    transition: opacity 250ms ease-in-out 250ms;

    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 10px 20px 10px 20px;
  }

  .header__logo {
    font-size: 15px;
  }

  .header__phone-number {
    display: none;
  }

  .header__navigation-item {
    margin: 0 20px 15px;
  }
}
