.header {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px 30px;

  text-align: center;

  background-color: var(--primary-background);
}

.header__navigation-toggle-label {
  display: none;
}

.header__navigation-toggle-label:hover {
  color: var(--primary-color);
}

.header__navigation-item {
  margin-left: 50px;
}

.header__link {
  opacity: 1;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__phone-number {
  display: block;

  margin-left: auto;

  text-decoration: none;

  color: #2d2829;

  font: bold 15px 'Arsenal', sans-serif;
}

.header__phone-number:hover {
  color: var(--primary-color);
}

.header__logo {
  font: bold 16px 'Playfair Display', serif;
}

.header__navigation-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 20px 50px;

    background-color: white;
  }

  .header__navigation {
    position: absolute;
    top: 99%;
    left: 0;

    width: 100%;

    transition: transform 350ms ease-in-out;
    transform: scale(1, 0);
    transform-origin: top;
  }

  .header__navigation-item {
    margin-bottom: 1em;
  }

  .header__navigation-toggle-label {
    display: flex;
    align-items: center;

    height: 100%;
    margin-left: 1em;

    cursor: pointer;
  }

  .header__list {
    display: block;
  }

  .header__link {
    transition: opacity 150ms ease-in-out;

    opacity: 0;
  }

  .header__navigation-toggle:checked ~ .header__navigation {
    transform: scale(1, 1);

    opacity: 1;
  }

  .header__navigation-toggle:checked ~ .header__navigation .header__link {
    transition: opacity 250ms ease-in-out 250ms;

    opacity: 1;
  }

  .header__phone-number {
    display: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .header__phone-number {
    display: block;
  }

  .header__navigation-item {
    margin: 0 50px 15px;
  }
}
