.main {
  width: 100%;

  background-color: var(--primary-background);
  background-image: url('../../images/desktop/img2.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
