.navigation {
  text-align: left;

  background-color: var(--primary-background);
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;

  color: #2d2829;

  font: normal 14px 'Arsenal', sans-serif;
}

.navigation__link:hover {
  color: #f50049;
}

@media only screen and (max-width: 768px) {
  .navigation {
    background-color: white;
  }
}
