.order {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  min-height: 700px;
  padding-top: 120px;
  padding-bottom: 120px;

  color: white;
  background-image: url(../images/desktop/gift.webp),
    linear-gradient(180deg, rgb(234 70 71) 0%, rgb(236 54 62) 35%, rgba(225, 50, 58) 65%, rgb(213 40 50) 100%);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: bottom, center, center;
}

.order__content {
  display: flex;
  flex-direction: column;

  max-width: 475px;
  margin: 0 0 0 auto;
  padding-bottom: 45px;
}

.order__header {
  margin-bottom: 45px;
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  .order {
    min-height: 420px;
    padding-top: 48px;
    padding-bottom: 50px;

    background-image: url('../images/tablet/present.webp'),
      linear-gradient(180deg, rgb(243 61 62) 0%, rgb(225 50 58) 35%, rgba(225, 50, 58) 65%, rgb(213 40 50) 100%);
    background-position: left bottom;
  }

  .order__content {
    min-width: 300px;
    max-width: none;
    margin: 0 0 0 280px;
    padding-bottom: 0;
  }

  .order__header {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .order {
    display: block;

    min-height: auto;
    padding: 30px 40px 92px 40px;

    background-color: #e5363c;
    background-image: url('../images/mobile/present.webp'),
      linear-gradient(76deg, rgba(212, 37, 47, 1) 0%, rgba(223, 48, 57, 1) 71%, rgba(230, 58, 64, 1) 100%);
    background-position: bottom;
  }

  .order__content {
    max-width: none;
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  .order__header {
    margin-bottom: 30px;

    text-align: center;
  }
}
