.order {
  min-height: 80vh;

  color: white;
  background-image: url('../images/desktop/present.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.order__header {
  font-size: 40px;
}

.order__instruction {
  display: flex;
}

.order__instruction-step {
  font-size: 64px;
}

.order__instruction-content {
  font-family: 'Arsenal', sans-serif;
}

.order__instruction-header {
  display: block;

  margin-top: 20px;

  font-size: 21px;
}

.order__instruction-info {
  font-size: 20px;
}
