@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/icomoon.eot?z2zmtx');
  src: url('../fonts/icomoon.eot?z2zmtx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z2zmtx') format('truetype'), url('../fonts/icomoon.woff?z2zmtx') format('woff'),
    url('../fonts/icomoon.svg?z2zmtx#icomoon') format('svg');
  font-display: block;
}

.icon {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */

  font-family: 'icomoon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
  content: '\e99f';
}

.icon-leaf:before {
  content: '\e9a4';
}

.icon-menu:before {
  content: '\e9bd';
}

.icon-instagram:before {
  content: '\ea92';
}

.icon-vk:before {
  content: '\ea98';
}
